
/.lastBuildTime
/node_modules
/config/local.js
/dist
/logs
/server/ps.pid
/common/logs
*.log
/views
/.idea
/.git
/nohup.out
/common/bower_components
/common/.git
/.DS_Store
.DS_Store
/.vscode
.vscode
folder.ini
.wepycache

