@import "../../less/vars.less";
.wrapper {
    padding:30rpx;
    .panel{
        padding:30rpx;
        .row{
            padding:10rpx 0;
            .label{
                vertical-align: middle;
            }
        }
    }
}
