@import "../../less/vars.less";
.list {
  padding: 30rpx;
  .item {
    padding: 40rpx 30rpx;
    font-size: 28rpx;
    background: @list_bg_color;
    margin-bottom: 20rpx;
    .icon {
      width: 64rpx;
      height: 64rpx;
      vertical-align: middle;
      box-shadow: 0 0 10px @hl_color;
    }
    .text {
      margin-left: 30rpx;
      vertical-align: middle;
    }
  }
}
.tips {
  font-size: 24rpx;
  color: @hl_color;
  text-shadow: 0 0 16rpx @hl_color_shadow;
  padding-bottom: 30rpx;
}
.no-item {
  text-align: center;
  margin-top: 100rpx;
}
